@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color:#FFE4E1 ;
}
.container{
    width: 940px;
    height: 600px;
    background-color:#F5FFFA ;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.553);
    padding: 10px 25px 10px;
    border-radius: 10px;
}
.container.disable :where(.options,.rotate, .reset-filter, .save-img){
    opacity:0.6;
    pointer-events:none;
}
.container h2{
    font-size: 1.5em;
    font-weight: 500;
    padding-left:20px;
}
.container .wrapper{
    display: flex;
    margin: 20px;
}
.wrapper .editor-panel{
    width:450px;
    padding: 35px 20px;
    border: 1px solid #ccc;
}
.editor-panel .title{
    display: block;
    font-size: 1em;
    margin-bottom: 12px;
}
.editor-panel .options{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.editor-panel button{
    height: 40px;
    font-size: 10px;
    color:	#696969;
    margin-bottom: 8px;
    border-radius: 3px;
    border: 1px solid #aaa;
    background-color: #F5FFFA;
}
.editor-panel .filter button{
    width: calc(100% / 2 - 4px);
}
.filter button.active{
    color: #fff;
    background-color:#DA70D6;
    border-color: #BA55D3;
}
.editor-panel button:hover{
    background-color:	#FFF0F5;
    color: #BA55D3;
    transition: .8s;
    cursor: pointer;
}
.editor-panel .slider{
    margin-top:12px;
}
 .filter-info{
    display: flex;
    justify-content:space-between;
    color:#696969;
    font-size: .9em;
}
.editor-panel .slider input{
    width: 100%;
    height: 5px;
    accent-color:#DA70D6;
}
.editor-panel .rotate{
    background-color: #efb3ed8f;
    margin-top: 20px;
    padding: 10px;
    border-radius: 3px;
}
.editor-panel .rotate button{
    width: calc(100% / 2 - 4px);
    padding: 5px;
}

.rotate button:nth-child(3),
.rotate button:nth-child(4){
    font-size: 1.1em;
}
.preview-img img{
    width: 100%;
    height: 100%;
    max-width: 600px;
    margin-left: 10px;
    object-fit: contain;

}
.preview-img{
    width: 680px;
}
.controls{
    width:480px; 
    display: flex;
    position: relative;
    top: 30px;
    justify-content:center;
    overflow: hidden;
}
.controls button{
    width:135px;
    padding: 8px;
    position: relative;
    right: 40px;
    cursor: pointer;
    border:none;
    color: #696969;
    border-radius: 2px;
    box-shadow: 5px 4px 15px 2px rgba(0, 0, 0, 0.553);
    transition: 1s;
    text-transform: uppercase;
}
.controls button:hover{
    background-color: #DDA0DD;
    color: #fff;
    
}
@media(max-width:760px){
    .editor-panel{
        height: 100vh;
    }
    .container{
        padding: 25px;
        height: 100%;
    }
    .container .wrapper{
        flex-wrap: wrap-reverse;
    }
    .wrapper .editor-panel{
        width: 100%;
    }
    .wrapper .preview-img{
        width:100%;  
    }
    .controls{
        left: 20px;
        width:500px;
        flex-direction: column;
        
    }
    .controls button{
        width: 100%; 
        border:1px solid rgb(137, 137, 137);
        box-shadow: none;
    }
}
@media(max-width:500px){
    .editor-panel{
        height: 100vh;
    }
    .container{
        height: 100%;
    }
    .controls button{
        width: 100%;
        margin-bottom: 10px;
    }
    .controls .row{
        width: 100%;

    }
    .controls .row .save-img{
        margin-left: 0px;
    }
}