@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color:#FFE4E1 ;
}
.container{
    width: 840px;
    background-color:#F5FFFA ;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.553);
    padding: 30px 35px 35px;
    border-radius: 10px;  
}
.container h2{
    font-size: 1.5em;
    font-weight: 500;
}
.container .wrapper{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    min-height: 335px;
}
.container.disable :where(.editor-panel,.reset-filter, .save-img){
    opacity:0.6;
    pointer-events:none;
}
.wrapper .editor-panel{
    width:500px;
    height: 100%;
    padding: 15px 20px;
    border: 1px solid #ccc;
}
.editor-panel .title{
    display: block;
    font-size: 1em;
    margin-bottom: 12px;
}
.editor-panel .options,.controls{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.editor-panel button{
    height: 40px;
    font-size:.7em;
    color:	#696969;
    margin-bottom: 8px;
    border: 1px solid #aaa;
    background-color: #fff5fd;
}
.editor-panel button:hover{
    background-color:	#FFF0F5;
    color: #BA55D3;
    transition: .8s;
    cursor: pointer;
}
.editor-panel .filter button{
    width: calc(100% / 2 - 4px);
}
.filter button.active{
    color: #fff;
    background-color:#DA70D6;
    border-color: #BA55D3;
}
.filter .slider{
    margin-top: 12px;
}
.filter .slider .filter-info{
    display: flex;
    justify-content:space-between;
    color:#696969;
    font-size: .9em;
}
.filter .slider input{
    width: 100%;
    height: 5px;
    accent-color:#DA70D6;
}
.editor-panel .rotate{
    margin-top: 20px;
}
.editor-panel .rotate button{
    width: calc(100% / 4 - 4px);
}
.rotate button:nth-child(3),
.rotate button:nth-child(4){
    font-size:1.1em;
}
.wrapper .preview-img{
    overflow: hidden;
    margin: 0 0 5px 5px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;

}
.preview-img img{
    max-width:490px;
    max-height:335px;
    width: 100%;
    height:100%;
    object-fit: contain;
}
.controls button{
    font-size: .9em;
    padding: 11px 20px;
    border-radius:3px;
}
.controls .reset-filter{
    color: #ffffff;
    background-color: rgb(165, 115, 227);
    border: 1px solid #6c757d;
    cursor: pointer;
}
.controls .choose-img{
    color: #6c757d;
    background-color: rgb(195, 195, 196);
    border: 1px solid #6c757d;
    cursor: pointer;
}
.controls .save-img{
    color: #ffffff;
    background-color: rgb(165, 115, 227);
    border: 1px solid #6c757d;
    cursor: pointer;
}

@media(max-width:760px){
    .container{
        padding: 25px;
        height: 100%;
    }
    .container .wrapper{
        flex-wrap: wrap-reverse;
    }
    .wrapper .editor-panel{
        width: 100%;
    }
    .wrapper .preview-img{
        width:100%;  
        margin-left:0px;
    }
    .wrapper .preview-img img{
       
    }
    .container{
        height: 100%;
    }
    .controls{
        justify-content: center;
        padding: 0;
        margin: 0;
    }
    .controls button{
        border-radius: 3px;
        margin: 0;
        left: 0;
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }
    .controls .row{
        width:100%;
    }
    .preview-img img{
       
        width: 100%;
        height:100%;
        object-fit: contain;
    }
    
}
@media(max-width:500px){
    .wrapper .preview-img{
        width:100%;  
        margin-left: 0px;
    }
  
    }
@media(max-width:390px){
  
}